@model Lab1_2.Models.BlogItem
@{
}

<div class="container-fluid m-3">
    <form method="post" asp-action="Edit" asp-controller="Blog">
        <div class="mb-3">
            <span asp-validation-for="Title" class="text-danger"></span>
            <input class="form-control" asp-for="Title" />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Content" class="text-danger"></span>
            <input class="form-control" asp-for="Content" />
        </div>
        <div class="mb-3">
            <input class="form-control" asp-for="CreationTimstamp" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>
}